<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.tyut.sea2.seandisk.module.disk.mapper.FileMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.edu.tyut.sea2.seandisk.module.disk.entity.FileEntity" id="fileMap">
        <result property="fileId" column="file_id"/>
        <result property="userId" column="user_id"/>
        <result property="filename" column="filename"/>
        <result property="length" column="length"/>
        <result property="type" column="type"/>
        <result property="physicalHash" column="physical_hash"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>