<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.tuyt.sea2.seandisk.module.disk.mapper.LabelFileDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="LabelFileEntity" id="labelFileMap">
        <result property="id" column="id"/>
        <result property="fileId" column="file_id"/>
        <result property="labelId" column="label_id"/>
    </resultMap>


</mapper>